CREATE DATABASE [IDATBD]
GO
USE [IDATBD]
GO
/****** Object:  Table [dbo].[TA_CLIENTE]    Script Date: 8/09/2018 12:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TA_CLIENTE](
	[COD_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOM_CLIENTE] [varchar](200) NULL,
	[DNI_CLIENTE] [char](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TA_PRODUCTO]    Script Date: 8/09/2018 12:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TA_PRODUCTO](
	[COD_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOM_PRODUCTO] [varchar](200) NULL,
	[STOCK_PRODUCTO] [int] NULL,
	[PRE_PRODUCTO] [decimal](19, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TA_USUARIO]    Script Date: 8/09/2018 12:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TA_USUARIO](
	[COD_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOM_USUARIO] [varchar](50) NULL,
	[DNI_USUARIO] [char](8) NULL,
	[USU_LOGUEO] [varchar](50) NULL,
	[PAS_LOGUEO] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TA_VENTA]    Script Date: 8/09/2018 12:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TA_VENTA](
	[COD_VENTA] [int] IDENTITY(1,1) NOT NULL,
	[COD_CLIENTE] [int] NULL,
	[FEC_VENTA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TV_DETALLE_VENTA]    Script Date: 8/09/2018 12:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TV_DETALLE_VENTA](
	[COD_DETVENTA] [int] IDENTITY(1,1) NOT NULL,
	[COD_VENTA] [int] NULL,
	[COD_PRODUCTO] [int] NULL,
	[CANT_COMPRADA] [int] NULL,
	[PRE_PRODUCTO] [decimal](19, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_DETVENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[VW_VENTAS_ANIO_ACTUAL]    Script Date: 8/09/2018 12:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_VENTAS_ANIO_ACTUAL]
AS
SELECT 
	V.COD_VENTA,
	V.FEC_VENTA,
	C.COD_CLIENTE,
	C.DNI_CLIENTE,
	C.NOM_CLIENTE
FROM TA_VENTA V
INNER JOIN TA_CLIENTE C ON V.COD_CLIENTE = C.COD_CLIENTE
WHERE YEAR(V.FEC_VENTA) = YEAR(GETDATE())
GO
SET IDENTITY_INSERT [dbo].[TA_CLIENTE] ON 

INSERT [dbo].[TA_CLIENTE] ([COD_CLIENTE], [NOM_CLIENTE], [DNI_CLIENTE]) VALUES (1, N'LUIS CUADRA MEJILLA', N'12345678')
INSERT [dbo].[TA_CLIENTE] ([COD_CLIENTE], [NOM_CLIENTE], [DNI_CLIENTE]) VALUES (2, N'DAVIS RIXI RODRIGUEZ', N'85274112')
INSERT [dbo].[TA_CLIENTE] ([COD_CLIENTE], [NOM_CLIENTE], [DNI_CLIENTE]) VALUES (3, N'KEVIN RODRIGUEZ MARTINEZ', N'12365485')
SET IDENTITY_INSERT [dbo].[TA_CLIENTE] OFF
SET IDENTITY_INSERT [dbo].[TA_PRODUCTO] ON 

INSERT [dbo].[TA_PRODUCTO] ([COD_PRODUCTO], [NOM_PRODUCTO], [STOCK_PRODUCTO], [PRE_PRODUCTO]) VALUES (1, N'MONITOR LENOVO 19 PULGADAS', 21, CAST(500.00 AS Decimal(19, 2)))
INSERT [dbo].[TA_PRODUCTO] ([COD_PRODUCTO], [NOM_PRODUCTO], [STOCK_PRODUCTO], [PRE_PRODUCTO]) VALUES (2, N'MONITOR LENOVO 21 PULGADAS', 15, CAST(700.00 AS Decimal(19, 2)))
INSERT [dbo].[TA_PRODUCTO] ([COD_PRODUCTO], [NOM_PRODUCTO], [STOCK_PRODUCTO], [PRE_PRODUCTO]) VALUES (3, N'MONITOR SAMSUNG 19 PULGADAS', 11, CAST(820.00 AS Decimal(19, 2)))
SET IDENTITY_INSERT [dbo].[TA_PRODUCTO] OFF
SET IDENTITY_INSERT [dbo].[TA_USUARIO] ON 

INSERT [dbo].[TA_USUARIO] ([COD_USUARIO], [NOM_USUARIO], [DNI_USUARIO], [USU_LOGUEO], [PAS_LOGUEO]) VALUES (1, N'LUIS CORDOVA LEON', N'11111111', N'LCORDOVA', 0x0200EC74902396CF0245F93993396C6981692496D93ECD1DFDA48CD82FAD3DEA0C19E38C2EBFC3A2BDBCCC55E516142761CB5107F4FBC2FF07E0DD1B0B13C1BE0DDBC4C5C5CE)
INSERT [dbo].[TA_USUARIO] ([COD_USUARIO], [NOM_USUARIO], [DNI_USUARIO], [USU_LOGUEO], [PAS_LOGUEO]) VALUES (2, N'ERICK HIDALGO PEREZ', N'22222222', N'EHIDALGO', 0x0200FDD70938E8B33455EB96E6677AF9B021D5F3E0602FEE7D14489F3B9539BDAC7A28708857BE9FF2AE0666DEE7311CABCC90268A403A03E011CAA090CC0EC597718090C67F)
INSERT [dbo].[TA_USUARIO] ([COD_USUARIO], [NOM_USUARIO], [DNI_USUARIO], [USU_LOGUEO], [PAS_LOGUEO]) VALUES (3, N'KATTY SANCHEZ REYNA', N'33333333', N'KSANCHEZ', 0x02003E82406FAEB010C0EB7208B1E8EAC2736A8FFCE81C441174EBCFFCB708B050B3934B2CF4FE154A56FB8244932CA0AA09DA0A9A44FE79300DD4257B60498991404819D41D)
SET IDENTITY_INSERT [dbo].[TA_USUARIO] OFF
SET IDENTITY_INSERT [dbo].[TA_VENTA] ON 

INSERT [dbo].[TA_VENTA] ([COD_VENTA], [COD_CLIENTE], [FEC_VENTA]) VALUES (1, 1, CAST(N'2017-01-01' AS Date))
INSERT [dbo].[TA_VENTA] ([COD_VENTA], [COD_CLIENTE], [FEC_VENTA]) VALUES (2, 2, CAST(N'2015-06-02' AS Date))
INSERT [dbo].[TA_VENTA] ([COD_VENTA], [COD_CLIENTE], [FEC_VENTA]) VALUES (3, 1, CAST(N'2017-01-15' AS Date))
SET IDENTITY_INSERT [dbo].[TA_VENTA] OFF
ALTER TABLE [dbo].[TA_VENTA]  WITH CHECK ADD FOREIGN KEY([COD_CLIENTE])
REFERENCES [dbo].[TA_CLIENTE] ([COD_CLIENTE])
GO
ALTER TABLE [dbo].[TV_DETALLE_VENTA]  WITH CHECK ADD FOREIGN KEY([COD_PRODUCTO])
REFERENCES [dbo].[TA_PRODUCTO] ([COD_PRODUCTO])
GO
ALTER TABLE [dbo].[TV_DETALLE_VENTA]  WITH CHECK ADD FOREIGN KEY([COD_VENTA])
REFERENCES [dbo].[TA_VENTA] ([COD_VENTA])
GO
/****** Object:  StoredProcedure [dbo].[USP_ACCEDER_SISTEMA]    Script Date: 8/09/2018 12:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ACCEDER_SISTEMA]
@USU_LOGUEO VARCHAR(50),
@PAS_LOGUEO VARCHAR(50)
AS
BEGIN
	SELECT COUNT(1) AS EXISTE
	FROM TA_USUARIO WHERE 
		USU_LOGUEO = @USU_LOGUEO
	AND PWDCOMPARE(@PAS_LOGUEO, PAS_LOGUEO) = 1
END
GO

SELECT * FROM TA_PRODUCTO
GO
SELECT * FROM TA_CLIENTE
GO
SELECT * FROM TA_USUARIO
GO
SELECT * FROM TA_VENTA
GO
/****** Object:  StoredProcedure [dbo].[USP_AGREGAR_PRODUCTO]    Script Date: 8/09/2018 12:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_AGREGAR_PRODUCTO]
@NOM_PRODUCTO VARCHAR(50),
@STOCK_PRODUCTO INT,
@PRE_PRODUCTO DECIMAL(19,2)
AS
BEGIN
	INSERT INTO TA_PRODUCTO
	(
		NOM_PRODUCTO,
		STOCK_PRODUCTO,
		PRE_PRODUCTO
	) VALUES
	(
		@NOM_PRODUCTO,
		@STOCK_PRODUCTO,
		@PRE_PRODUCTO
	)
END

GO
/****** Object:  StoredProcedure [dbo].[USP_BUSCAR_PRODUCTO]    Script Date: 8/09/2018 12:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_BUSCAR_PRODUCTO]
@COD_PRODUCTO INT = 0,
@NOM_PRODUCTO VARCHAR(50) = ''
AS
BEGIN
	
	SELECT 
		COD_PRODUCTO,
		NOM_PRODUCTO,
		STOCK_PRODUCTO,
		PRE_PRODUCTO,
		CASE 
			WHEN STOCK_PRODUCTO <= 20 THEN 'Solicitar + STOCK'
			ELSE 'Conforme'
		END ALERTA_STOCK
	FROM TA_PRODUCTO
	WHERE (COD_PRODUCTO = @COD_PRODUCTO OR @COD_PRODUCTO = 0)
	AND NOM_PRODUCTO LIKE '%' + @NOM_PRODUCTO + '%'
END

 
GO
/****** Object:  StoredProcedure [dbo].[USP_BUSCAR_PRODUCTO_POR_CODIGO]    Script Date: 8/09/2018 12:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_BUSCAR_PRODUCTO_POR_CODIGO]
@COD_PRODUCTO INT
AS
BEGIN
	SELECT 
	COD_PRODUCTO,
	NOM_PRODUCTO,
	STOCK_PRODUCTO,
	PRE_PRODUCTO
	FROM TA_PRODUCTO
	WHERE COD_PRODUCTO = @COD_PRODUCTO
END

GO
/****** Object:  StoredProcedure [dbo].[USP_EDITAR_PRODUCTO]    Script Date: 8/09/2018 12:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EDITAR_PRODUCTO]
@COD_PRODUCTO INT,
@NOM_PRODUCTO VARCHAR(50),
@STOCK_PRODUCTO INT,
@PRE_PRODUCTO NUMERIC(19,2)
AS 
BEGIN
	UPDATE TA_PRODUCTO
		SET NOM_PRODUCTO = @NOM_PRODUCTO,
			PRE_PRODUCTO = @PRE_PRODUCTO,
			STOCK_PRODUCTO = @STOCK_PRODUCTO
	WHERE COD_PRODUCTO = @COD_PRODUCTO
END
GO

----------------
SP_HELP TA_PRODUCTO

